.wave-divider {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -1px;
}

.wave-divider svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

.wave-divider.flip {
    transform: rotate(180deg);
    margin-top: 0;
    margin-bottom: -1px;
}

/* Responsive */
@media (max-width: 768px) {
    .wave-divider svg {
        height: 80px;
    }
}